<h1>Listing all articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'show', article_path(article) %></td>
      <td><%= link_to 'edit', edit_article_path(article) %></td>
      <td><%= link_to 'delete', article_path(article),
              method: :delete,
              data: {confirm: 'Are you shure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add new article', new_article_path %>
<br/>
<br/>
<hr/>
<%= link_to 'Back to homepage', controller: 'welcome' %>