<h1>Show article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Text: <%= @article.text %>
</p>

<h2>Comments:</h2>
  <%= render @article.comments %>      <!-- using partials -->

<h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<br/>
<hr/>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>